<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="Lookit Sucuri Cache Purge">
            <directory suffix=".php">./tests</directory>
            <exclude>./tests/bootstrap.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
